name: Build

on:
  workflow_call:
  workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on: 
      - ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Python
        uses: ni/python-actions/setup-python@9768589f3e50672173dad75a6fc181e4a85d33fa # v0.7.0
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@9768589f3e50672173dad75a6fc181e4a85d33fa # v0.7.0
      - name: Check Poetry version
        run: poetry --version
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          poetry install --all-extras
      - name: Run linters
        run: |
          poetry run ni-python-styleguide lint
      - name: Generate ni-sync files
        run: |
          poetry run python scripts/gen_templates.py
      - name: Check for files dirtied by codegen
        run: git diff --exit-code
